*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  font-family: 'Big Shoulders Display', cursive;
  padding: 3rem 2rem;
  .container {
    max-width: 35rem;
    width: 100%;

    display: grid;
    .card1 {
      grid-column: 1/1;
      grid-row: 1/1;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background: rgb(226, 133, 37);
      padding: 2.5rem;
      svg {
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3.2rem;
        text-transform: uppercase;
        color: rgb(250, 240, 224);
        margin-bottom: 2rem;
      }
      p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.6rem;
        color: rgb(255, 211, 146);
        font-weight: 400;
        margin-bottom: 2rem;
      }
      .btn {
        width: 45%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background: rgb(242, 242, 242);
        border-radius: 2rem;
        font-size: 1.3rem;
        font-family: 'Lexend Deca', sans-serif;
        color: rgb(226, 133, 37);
      }
    }
    .card2 {
      grid-column: 1/1;
      grid-row: 2/2;
      background: rgb(1, 105, 114);
      padding: 2.5rem;

      svg {
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3.2rem;
        text-transform: uppercase;
        color: rgb(224, 243, 240);
        margin-bottom: 2rem;
      }
      p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.6rem;
        color: rgb(111, 181, 185);
        font-weight: 400;
        margin-bottom: 2rem;
      }
      .btn {
        width: 45%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background: rgb(242, 242, 242);
        border-radius: 2rem;
        font-size: 1.3rem;
        font-family: 'Lexend Deca', sans-serif;
        color: rgb(1, 105, 114);
      }
    }
    .card3 {
      grid-column: 1/1;
      grid-row: 3/3;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background: rgb(0, 64, 63);
      padding: 2.5rem;
      svg {
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 3.2rem;
        text-transform: uppercase;
        color: rgb(222, 239, 239);
        margin-bottom: 2rem;
      }
      p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.6rem;
        color: rgb(125, 171, 172);
        font-weight: 400;
        margin-bottom: 2rem;
      }
      .btn {
        width: 45%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background: rgb(240, 243, 243);
        border-radius: 2rem;
        font-size: 1.3rem;
        font-family: 'Lexend Deca', sans-serif;
        color: rgb(0, 64, 63);
      }
    }
  }
}
@media (min-width: 1024px) {
  body {
    font-family: 'Big Shoulders Display', cursive;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      display: grid;
      grid-template-columns: repeat(9, 15rem);
      max-width: 135rem;

      width: 100%;
      .card1 {
        grid-column: 1/4;
        grid-row: 1/1;
        border-radius: 0;
        padding-left: 5rem;
        justify-self: end;
        svg {
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 3.2rem;
          text-transform: uppercase;
          color: rgb(250, 240, 224);
          margin-bottom: 2rem;
        }
        p {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 1.6rem;
          color: rgb(255, 211, 146);
          font-weight: 400;
          margin-bottom: 10rem;
        }
        .btn {
          width: 45%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          background: rgb(242, 242, 242);
          border-radius: 2rem;
          font-size: 1.3rem;
          font-family: 'Lexend Deca', sans-serif;
          color: rgb(226, 133, 37);
        }
      }
      .card2 {
        grid-column: 4/7;
        grid-row: 1/1;
        border-radius: 0;
        padding-left: 5rem;
        justify-self: start;
        svg {
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 3.2rem;
          text-transform: uppercase;
          color: rgb(224, 243, 240);
          margin-bottom: 2rem;
        }
        p {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 1.6rem;
          color: rgb(111, 181, 185);
          font-weight: 400;
          margin-bottom: 10rem;
        }
        .btn {
          width: 48%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          background: rgb(242, 242, 242);
          border-radius: 2rem;
          font-size: 1.3rem;
          font-family: 'Lexend Deca', sans-serif;
          color: rgb(1, 105, 114);
        }
      }
      .card3 {
        grid-column: 6/10;
        justify-self: start;
        grid-row: 1/1;
        border-radius: 0;
        padding-left: 5rem;
        svg {
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 3.2rem;
          text-transform: uppercase;
          color: rgb(222, 239, 239);
          margin-bottom: 2rem;
        }
        p {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 1.6rem;
          color: rgb(125, 171, 172);
          font-weight: 400;
          margin-bottom: 10rem;
        }
        .btn {
          width: 48%;
          height: 10%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          background: rgb(240, 243, 243);
          border-radius: 2rem;
          font-size: 1.3rem;
          font-family: 'Lexend Deca', sans-serif;
          color: rgb(0, 64, 63);
        }
      }
    }
  }
}
